.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.App-header {
  background-color: #c3bac7;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  margin-top: 30;
  margin-right: 30;
  margin-left: 30;
  padding-top: 10;
  padding-left: 10;
  padding-right: 10;
  padding-bottom: 10;
  margin-bottom: 10;
  }

.App-link {
  color: #21292b;
}

